<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./test.css">
<script defer src="./test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    <div id="container">
        <!-- <input id="message" type="text" placeholder="1. 대답, 2. 대답"> -->
        <div class="box" id="aaaaa">
            <p id="p1">질문 1</p>
        </div>
        <br>
        <div class="box" id="bbbbb">
            <p id="p2">질문 2</p>
        </div>
    </div>
    <div id="ques"></div>
    <br>
    <div id="createHTML1">
    </div>
    <br>

    <div id="ques2"></div>
    <br>
    <div id="createHTML2">
    </div>
</body>

</html>