body {
    background-color: antiquewhite;
    padding-top: 100px;
    text-align: center;
}

.box p {
    text-align: center;
}

.box {
    background-color: ivory;
    border: 3px solid burlywood;
    height: 50px;
    width: 350px;
    margin-left: 20%;
}

#createHTML {
    margin-left: 40%;
}

.wlfans1 {
    margin-left: 40%;
}

.wlfans2 {
    margin-left: 40%;
}