@charset "UTF-8";

section {
	text-align: center;
}

select {
    box-sizing: border-box;
    width: 100px;
    padding: 4px;
    font-size: 14px;
    border-radius: 6px;
}

option {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background: #272822;
}
