*{
   box-sizing: border-box;
}

/* #chatt{
   width: 25%;
   padding: 0px 15px; 
   text-align: center;
} */

.chat-box{
	width: 100%;
	aspect-ratio: 4 / 9; 
}

#chatt #talk{
   width: 100%;
   height: 83%;
   overflow: scroll;
   border : 1px solid #aaa;
   /* text-align: center; */
}


#sendZone{
	display:flex;
	justify-content:space-around;
	height: 15%;
	margin-top: 10px;
}

#chatt #msg{
   width: 75%;
   height: 100%;
   display: inline-block;
}

#chatt #btnSend{
   width: 20%;
   height: 100%;
  
}



.bidcoinBtn{
	background-color: #fea532;
    color: white;
    font-weight : 500;
    border-style: none;
    border-radius: 3px;
	min-height: 40px;
	min-width: 30px;
	padding: 10px;
}

#chatt #talk div{
   
   display: inline-block;
   padding: 6px;
   border-radius:10px;   
}

#iddd div{
   margin-left: 5px;
   /*display: inline-block;*/
   border-width: bold;
}

#chatt .me{
  
   margin : 1px 0px 2px 10px;   
   
   display: flex !important;
   justify-content: flex-end;
   align-items: flex-end;
}
#chatt .other{
   margin : 2px;
   display: flex !important;
   justify-content: flex-start;
   align-items: flex-start;
}


#chatt .chat-date{
   font-size: 12px;
}

#chatt .chat-text{
	max-width : 100%;
   background-color : #eee;
   word-break:break-all;
}

#chatt .hi{
   font-size: 14px;
   width: 100%;
}



/* #chatt .me#enter .chat-text{ */
/*    background-color: white; */
/*    border-style:solid; */
/*    border-color: #fea532; */
/* /*    margin : 1px 0px 2px 40%;    */ 
/* } */

/* #chatt .other#enter .chat-text{ */
/*    background-color: white; */
/*    border-style:solid; */
/*    border-color: #fea532; */
/* /*    margin : 2px; */
/* } */
.enter{
	background-color: white;
   border-style:solid;
   border-color: #fea532;
	
}



#text{
	
   text-align: center;
   height: 45px;
}

 .chat-container{
   width: 25%;
   padding: 0 15px;
} 

#auction{
   background-color: white;
   color: #fea532;
   font-weight: bold;
   border-style: none;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	/*list-style: none;*/
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	cursor: pointer;
}

ul.tabs li.current{
	/*background: #ededed;*/
	color: #222;
   /*border: 1px solid;*/
   box-shadow: 1px 1px 3px 1px #aaa;
}

.tab-content{
	display: none;
	/*background: #ededed;*/
	
}

.tab-content.current{
	display: inherit;
}