<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.finalproject.admin.AdminIF">

	<!-- 일반 회원 정보 -->
	<select id="getMemberTotal" parameterType="MemberVO"
		resultMap="getMemberTotal">
		SELECT th.*, tr.*, tmr.* FROM
		THORMEMBER th
		inner join
		THORMEMBER_ROLE tmr
		on th.ID = tmr.ID
		inner join
		THORROLE tr
		on
		tmr.ROLENUM = tr.ROLENUM
		WHERE tmr.ROLENUM NOT LIKE "%1%"
		order by th.ID
		asc
	</select>
	<resultMap type="MemberVO" id="getMemberTotal">
		<id column="id" property="id" />
		<result column="pw" property="pw" />
		<result column="name" property="name" />
		<result column="birth" property="birth" />
		<result column="email" property="email" />
		<result column="post" property="post" />
		<result column="addr" property="addr" />
		<result column="addr2" property="addr2" />
		<result column="phone" property="phone" />
		<result column="point" property="point" />
		<collection property="roleVOs" javaType="List"
			ofType="RoleVO">
			<id column="roleNum" property="roleNum" />
			<result column="roleName" property="roleName" />
		</collection>
	</resultMap>

	<!-- 카카오 정보 -->
	<select id="getKakaoTotal" parameterType="KakaoVO"
		resultMap="getKakaoTotal">
		select sk.*, skd.*, kmr.*, k.* FROM
		SOCIALKAKAO sk
		inner join
		SOCIALKAKAODETAIL skd
		on sk.KANICKNAME = skd.KANICKNAME
		inner JOIN
		KAKAOMEMBERROLE kmr
		on sk.KANICKNAME = kmr.KANICKNAME
		inner join
		KAKAOROLE k
		on kmr.KAROLE = k.KAROLE
		order by sk.KANICKNAME asc
	</select>

	<resultMap type="KakaoVO" id="getKakaoTotal">
		<id column="kaNickName" property="kaNickName" />
		<result column="kaEmail" property="kaEmail" />
		<result column="kaName" property="kaName" />
		<collection property="kakaoDetailVOs" javaType="List"
			ofType="KakaoDetailVO">
			<id column="kaNickName" property="kaNickName" />
			<result column="kaBirth" property="kaBirth" />
			<result column="kaPost" property="kaPost" />
			<result column="kaAddr" property="kaAddr" />
			<result column="kaAddrDetail" property="kaAddrDetail" />
			<result column="kaPhone" property="kaPhone" />
			<result column="kaPoint" property="kaPoint" />
		</collection>
		<collection property="kaRoleVOs" javaType="List"
			ofType="KaRoleVO">
			<id column="kaRole" property="kaRole" />
			<result column="kaRoleName" property="kaRoleName" />
		</collection>
		<collection property="kakaoRoleVOs" javaType="List"
			ofType="KakaoRoleVO">
			<id column="kaRole" property="kaRole" />
			<result column="kaNickName" property="kaNickName" />
		</collection>
	</resultMap>

	<!-- 네이버 정보 -->
	<select id="getNaverTotal" parameterType="NaverVO"
		resultMap="naverTotal">
		select sn.*, snd.*, nmr.*, n.* FROM
		SOCIALNAVER sn
		inner join
		SOCIALNAVERDETAIL snd
		on sn.NANICKNAME = snd.NANICKNAME
		inner JOIN
		NAVERMEMBERROLE nmr
		on sn.NANICKNAME = nmr.NANICKNAME
		inner join
		NAVERROLE n
		on nmr.NAROLE = n.NAROLE
		order by sn.NANICKNAME asc
	</select>

	<resultMap type="NaverVO" id="naverTotal">
		<id column="NaNickName" property="NaNickName" />
		<result column="NaEmail" property="NaEmail" />
		<result column="NaName" property="NaName" />
		<collection property="naverDetailVOs" javaType="List"
			ofType="NaverDetailVO">
			<id column="NaNickName" property="NaNickName" />
			<result column="NaBirth" property="NaBirth" />
			<result column="NaPost" property="NaPost" />
			<result column="NaAddr" property="NaAddr" />
			<result column="NaAddrDetail" property="NaAddrDetail" />
			<result column="NaPhone" property="NaPhone" />
			<result column="NaPoint" property="NaPoint" />
		</collection>
		<collection property="naRoleVOs" javaType="List"
			ofType="NaRoleVO">
			<id column="NaRole" property="NaRole" />
			<result column="NaRoleName" property="NaRoleName" />
		</collection>
		<collection property="naverRoleVOs" javaType="List"
			ofType="NaverRoleVO">
			<id column="NaRole" property="NaRole" />
			<result column="NaNickName" property="NaNickName" />
		</collection>
	</resultMap>

	<!-- 일반 회원 등급 수정 -->
	<update id="roleSetManager" parameterType="MemberVO">
		update THORMEMBER_ROLE
		set ROLENUM = 2 where ID = #{id}
	</update>

	<update id="roleSetUser" parameterType="MemberVO">
		update THORMEMBER_ROLE
		set ROLENUM = 3 where ID = #{id}
	</update>

	<update id="roleSetBan" parameterType="MemberVO">
		update THORMEMBER_ROLE
		set
		ROLENUM = 4 where ID = #{id}
	</update>
	<!-- 일반 회원 등급 수정 -->

	<!-- 카카오 회원 등급 수정 -->
	<update id="kakaoRoleSetManager" parameterType="KakaoVO">
		update
		KAKAOMEMBERROLE
		set KAROLE = 2 where KANICKNAME = #{kaNickName}
	</update>

	<update id="kakaoRoleSetUser" parameterType="KakaoVO">
		update
		KAKAOMEMBERROLE
		set KAROLE = 3 where KANICKNAME = #{kaNickName}
	</update>

	<update id="kakaoRoleSetBan" parameterType="KakaoVO">
		update
		KAKAOMEMBERROLE
		set
		KAROLE = 4 where KANICKNAME = #{kaNickName}
	</update>
	<!-- 카카오 회원 등급 수정 -->


	<!-- 네이버 회원 등급 수정 -->
	<update id="naverRoleSetManager" parameterType="NaverVO">
		update
		NAVERMEMBERROLE
		set NAROLE = 2 where NANICKNAME = #{NaNickName}
	</update>

	<update id="naverRoleSetUser" parameterType="NaverVO">
		update
		NAVERMEMBERROLE
		set NAROLE = 3 where NANICKNAME = #{NaNickName}
	</update>

	<update id="naverRoleSetBan" parameterType="NaverVO">
		update
		NAVERMEMBERROLE
		set
		NAROLE = 4 where NANICKNAME = #{NaNickName}
	</update>
	<!-- 네이버 회원 등급 수정 -->

</mapper>