<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.goodee.finalproject.socialmember.KakaoMapperIF">

	<insert id="setKaRole" parameterType="KakaoRoleVO">
		insert IGNORE INTO KAKAOMEMBERROLE
		values(#{kaNickName}, 3)
	</insert>

	<insert id="setKakao1" parameterType="KakaoVO">
		INSERT IGNORE INTO
		SOCIALKAKAO(KANICKNAME,KAEMAIL,KANAME)
		values(#{kaNickName},
		#{kaEmail}, #{kaName})
	</insert>

	<insert id="setKakaoDetail" parameterType="KakaoDetailVO">
		insert IGNORE into
		SOCIALKAKAODETAIL
		(KANICKNAME, KABIRTH, KAPOST, KAADDR, KAADDRDETAIL,
		KAPHONE, KAPOINT)
		values
		(#{kaNickName}, #{kaBirth}, #{kaPost},
		#{kaAddr},
		#{kaAddrDetail}, #{kaPhone}, 3000)
	</insert>

	<select id="IdCheck" parameterType="KakaoVO" resultType="int">
		select
		count(*) from SOCIALKAKAO where KANICKNAME = #{kaNickName}
	</select>

	<select id="getNickName" parameterType="KakaoVO"
		resultType="KakaoVO">
		select * from SOCIALKAKAO where KANICKNAME = #{kaNickName}
	</select>

<!-- 	<resultMap type="KakaoVO" id="ka">
		<id column="kaNickName" property="kaNickName" />
		<result column="kaEmail" property="kaEmail" />
		<result column="kaName" property="kaName" />
	</resultMap> -->

</mapper>