<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.goodee.finalproject.mypage.MypageMapper">

	<!-- 총 포인트 -->
	<update id="getPoint" parameterType="PayVO">
		UPDATE THORMEMBER M 
		INNER JOIN PAY P
		ON M.ID = P.ID
		SET M.POINT = M.POINT + #{payTotal}
		WHERE M.ID = #{id}
	</update>

	<!-- 포인트 충전 -->
	<insert id="chargePoint" parameterType="PayVO">
		INSERT INTO PAY(PAYUID, ID, PAYTOTAL, PAYRESULT, PAYDATE)
		VALUES(#{payUid}, #{id}, #{payTotal}, #{payResult}, now())
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="setDelete" parameterType="MemberVO">
		DELETE FROM THORMEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</delete>

	<!-- 회원정보 수정 -->
	<update id="setUpdate" parameterType="MemberVO">
		UPDATE THORMEMBER
		SET
		PW = #{pw},
		EMAIL = #{email},
		POST = #{post},
		ADDR = #{addr},
		ADDR2 = #{addr2},
		PHONE = #{phone}
		WHERE ID = #{id}
	</update>
	
	<!-- 마이페이지 정보 출력 -->
	<select id="getList" resultType="MemberVO">
		SELECT *
		FROM THORMEMBER
		WHERE ID = #{id}
	</select>
	
</mapper>