<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.goodee.finalproject.socialmember.NaverMapperIF">

	<insert id="setNaver" parameterType="NaverVO">
		INSERT IGNORE INTO
		SOCIALNAVER(NANICKNAME,NAEMAIL,NANAME)
		values(#{NaNickName},
		#{NaEmail}, #{NaName})
	</insert>

	<insert id="setNaverDetail" parameterType="NaverDetailVO">
		insert IGNORE into
		SOCIALNAVERDETAIL
		(NANICKNAME, NABIRTH, NAPOST, NAADDR, NAADDRDETAIL,
		NAPHONE, NAPOINT)
		values
		(#{NaNickName}, #{NaBirth}, #{NaPost},
		#{NaAddr},
		#{NaAddrDetail}, #{NaPhone}, 3000)
	</insert>

	<insert id="setNaRole" parameterType="NaverRoleVO">
		insert IGNORE INTO
		NAVERMEMBERROLE
		values(#{NaNickName}, 3)
	</insert>

</mapper>