<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.goodee.finalproject.board.notice.NoticeMapper">
 
 	<sql id="search">
		WHERE
		<choose>
			<when test="kind =='noticeNum'">NoticeNum</when>
			<when test="kind == 'title'">Title</when>
			<when test="kind =='writer'">Writer</when>
			<otherwise>contents</otherwise>
		</choose>
		LIKE CONCAT('%',#{search},'%')
	</sql>
	<select id="getNoticeTotalList" parameterType="NoticeVO" resultType="NoticeVO">
		SELECT * FROM BOARDNOTICE; 
	</select>
	
 	<select id="getNoticeList" parameterType="NoticeVO" resultType="NoticeVO">
 		SELECT * 
		FROM BOARDNOTICE
		<include refid="search"></include>
		ORDER BY noticeNum DESC
		limit #{startRow}, #{lastRow}
 	</select>
 	
 	<select id="getNoticeListDetail" parameterType="NoticeVO" resultMap="getFileList">
 		SELECT * 
			FROM BOARDNOTICE bn
			left join
			NOTICEFILES n
			ON (bn.NOTICENUM = n.NOTICENUM)
			where bn.NOTICENUM = #{noticeNum};
 	</select>
 	
 	<resultMap type="NoticeVO" id="getFileList">
		<id column="NOTICENUM" property="noticeNum"></id>
		<result column="WRITER" property="writer"></result>
		<result column="TITLE" property="title"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="REGDATE" property="regDate"></result>
		<result column="IMPORTCHECK" property="importCheck"></result>
		<collection property="noticeFileVOs" javaType="List" ofType="NoticeFileVO">
			<id column="NOTICEFILENUM" property="noticeFileNum"></id>
			<result column = "NOTICEFILENAME" property="noticeFileName"></result>
			<result column = "NOTICEORINAME" property="noticeOriName"></result>
			<result column="SORT" property="sort"></result>
		</collection>
	</resultMap>
	
	<!-- 파일 다운을 위해 파일찾기 -->
	<select id="getFileCheck" resultType="NoticeFileVO" parameterType="NoticeFileVO">
		SELECT * FROM NOTICEFILES WHERE 
		NOTICEFILENAME =#{noticeFileName};	
	</select> 
	
	
 	<insert id="setNoticeAdd" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNum">	
 		INSERT INTO BOARDNOTICE
		VALUE (#{noticeNum},#{writer},#{title},#{contents},#{importCheck},now());
 	</insert>
 	
 	<insert id="setNoticeFileAdd" parameterType="NoticeFileVO">
 		INSERT INTO NOTICEFILES
 		VALUE (NOTICEFILENUM,#{noticeFileName},#{noticeOriName},#{sort},#{noticeNum})
 	</insert>
 	
 	<!-- 첨부파일 수정 시 db에서 해당 파일 찾기 -->
 	<select id="getFileNumCheck" parameterType="NoticeFileVO" resultType="NoticeFileVO">
 		SELECT t.NOTICEFILENUM FROM
			(select @ROWNUM:=@ROWNUM+1 AS ROWNUM, NF.* 
			FROM NOTICEFILES NF, (SELECT @ROWNUM:=0) R
			WHERE NOTICENUM = #{noticeNum} 
			AND SORT = 0 ) AS t WHERE t.ROWNUM = #{rowNum};
 	</select>
 	
 	
 	<!-- 게시글 수정하기에서 delete(x) 버튼시 바로 삭제하는문 -->
 	<delete id="setFileNumCheckDelete" parameterType="NoticeFileVO">
 		DELETE FROM NOTICEFILES WHERE NOTICEFILENUM = #{noticeFileNum};
 	</delete>
 	
 	
 	<!-- 게시글 수정 시 기존에 있던 상세정보(sort 1) 안에있는 파일을 삭제 -->
 	<delete id="setFileDeleteSort" parameterType="NoticeFileVO">
 		DELETE FROM NOTICEFILES WHERE NOTICENUM = #{noticeNum} AND SORT = 1;
 	</delete>
 	
 	
 	<!-- 썸머노트 멀티파일 하나를 삭제하는 문 -->
 	<delete id="setNoteFileDelete" parameterType="NoticeFileVO">
 		DELETE FROM 
		NOTICEFILES WHERE NOTICEFILENUM =(
		select MIN(NOTICEFILENUM)  from NOTICEFILES WHERE NOTICENUM=#{noticeNum});
 	</delete>
 	
 	<!-- 게시글을 삭제하는 query문 -->
 	<delete id="setFileDelete" parameterType="NoticeFileVO">
 		DELETE FROM NOTICEFILES WHERE NOTICENUM = #{noticeNum};
 	</delete>
 	
 	<select id="getCount" resultType="Long" parameterType="BoardPageMaker">
		SELECT
		COUNT(noticeNum) FROM BOARDNOTICE
		<include refid="search"></include>
	</select>
	
	
	<delete id="setNoticeDelete" parameterType="NoticeVO">
 		DELETE FROM BOARDNOTICE WHERE NOTICENUM = #{noticeNum}
 	</delete>
 	
 	<update id="setNoticeUpdate" parameterType="NoticeVO">
 		UPDATE BOARDNOTICE SET 
		WRITER = #{writer}, TITLE = #{title}, contents = #{contents}, importCheck = #{importCheck} WHERE NOTICENUM=#{noticeNum}
 	</update>
 	
 	<update id="setNoticeFileUpdate" parameterType="NoticeFileVO">
 		UPDATE NOTICEFILES SET 
		NOTICEFILENAME =#{noticeFileName}, NOTICEORINAME=#{noticeOriName} 
		WHERE NOTICEFILENUM=#{noticeFileNum}
 	</update>
 	
</mapper>