<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.goodee.finalproject.board.notice.NoticeMapper">
 
 	<select id="getNoticeList" parameterType="NoticeVO" resultType="NoticeVO">
 		select * from boardNotice
 	</select>
 	
 	<select id="getNoticeListDetail" parameterType="NoticeVO" resultType="NoticeVO">
 		select * from boardNotice where noticeNum = #{noticeNum}
 	</select>
 	
 	<insert id="setNoticeAdd" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNum">	
 		INSERT INTO boardNotice
		VALUE (#{noticeNum},#{writer},#{title},#{contents},0,now());
 	</insert>
 	
 	
 	<delete id="setNoticeDelete" parameterType="NoticeVO">
 		DELETE FROM boardNotice WHERE NOTICENUM = #{noticeNum}
 	</delete>
 	
 	<update id="setNoticeUpdate" parameterType="NOTICEVO">
 		UPDATE boardNotice SET 
		WRITER = #{writer}, TITLE = #{title}, contents = #{contents} WHERE NOTICENUM=#{noticeNum}
 	</update>
</mapper>